/* ========== about ========== */
.about {
    padding: var(--padding);
}

.about__title {
    font-weight: 600;
    font-size: var(--font-size-titles);
    line-height: 100%;
    letter-spacing: 0%;
}

.about_buttons {
    display: flex;
    column-gap: 15px;
    margin-top: 15px;
}

.about__image img {
    width: 280px;
    height: 359px;
    float: right;
}

.about__table {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
}

.about__table--firts-item {

    font-weight: 600;
    font-size: 20px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    line-height: 100%;
    color: rgba(38, 36, 34, 1);
}

.about__table--second-item {

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    max-width: 230px;
    opacity: 0.8;
    color: rgba(38, 36, 34, 1);
}

.about__text {
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 112.00000000000001%;
    color: rgba(38, 36, 34, 0.7);
}

.about__btn {
    padding: var(--padding-btn);

    font-weight: 500;
    font-size: var(--font-size-btn);
    border: none;
    border-radius: 30px;
}

.about__btn--primary {
    background: rgba(30, 115, 224, 1);
    color: #fff;
    text-align: center;
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 46px;
}

.about__content {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 70px;
    width: 100%;
}

.about__slider {
    position: relative;
    width: 100%;
    height: 500px;
}

.about__table--first {
    display: flex;
    flex-direction: column;
    row-gap: 20px
}

.about__slide--first .about__table--first {
    display: flex;
    flex-direction: column;
}

.about__table--first .about__table--img {
    background: rgba(255, 255, 255, 1);
    padding: 4px 15px 4px 6px;
    font-size: 16px;
    display: flex;
    gap: 8px;
    border-radius: 30px;
    min-width: 160px;
    height: 36px;
}

.about__table--item p {
    line-height: 100%;
    opacity: 0.9;
    font-size: 16px;
}

.about__table--first .about__table--item {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}


.about__slide .about__slide--first {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(247, 246, 249, 1);
    border-radius: 20px;
    padding: 40px 20px 20px 20px;
}

.about__slide {
    position: absolute;
    padding: 20px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 0px 42px 0px rgba(18, 18, 18, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.about__slide h1 {

    font-weight: 500;
    font-size: 18px;
    line-height: 108%;
}

.about__slide--indicator {
    background: rgba(29, 112, 218, 1);
    padding: 7px 18px 7px 18px;
    position: absolute;
    font-size: 15px;
    top: -15px;
    cursor: pointer;
    color: white;
    border-radius: 30px;
}

.about__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.about__item--img {
    width: 45px;
    height: 45px;
}

.about__item--block {
    background: rgba(247, 246, 249, 1);
    border-radius: 20px;
    display: flex;
    height: 100%;
    position: relative;
    padding: 25px;
    flex-direction: column;
    justify-content: flex-end;
}

.about__item--block.primary {
    background: rgba(30, 115, 224, 1);
    color: rgba(255, 255, 255, 1);
}

.about__item--block.secondary {
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.67) 0%, #222222 100%);
    color: rgba(255, 255, 255, 1);
}

.about__item--title {

    font-weight: 600;
    line-height: 100%;
    font-size: 20px;
    letter-spacing: 0%;
}

.about__item--desc {

    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    line-height: 100%;
}


@media screen and (max-width: 432px) {
    .about__slide--indicator {
        display: inline-block;
        max-width: 279px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .about__table {
        width: 100%;
    }

    .about__slide .about__slide--first {
        padding: 60px 20px 20px 20px;
    }

    .about__image {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 1125px) {
    .about__table--item {
        flex-direction: column !important;
        row-gap: 20px;
    }

    .about__slide--first {
        width: 100%;
    }

    .about__content {
        flex-direction: column;
    }

}